---
title: "ブログを始めた"
description: "文章を書き散らす場所が欲しかった"
date: 2026-05-29
---
こんにちは、**揚げ水**です。
Svelteの練習がてら、ブログを作りました。

練習以外に、長めの文章を適当に書きたい欲求があったので作りました。
~~あと想像以上にブログをやっている人が多いので追いつくため~~

思想がたまに強くなるから、Twitterに流したら叩かれそう、でもブログなら見たい人しか基本見ないから良さそう。

別にTwitterに流してもいいけどなんか嫌

適当な頻度でブログ書くのでよろしくお願いします。
