---
title: "vibe codingをしない理由"
description: "効率だけを求めてはいけない"
date: 2026-05-30
---
<script>
    import Spotify from '$lib/components/spotify.svelte'
</script>

みなさん、Vibe Codingしていますか。  
Claude CodeにCodex、OpenCodeなど。。。  
Vibe Codingは単なる流行ではなく新しいSolutionになっています。  

そんな中、私はVibe Codingをしていません。  

Vibe Codingをしている人からすれば、私は非効率的な人間でしょう。  
私のやっていることは非効率的かもしれないというのは、自分でもわかっています。それでもVibe Codingはしません。  

## なぜしないのか
### 1つ目の理由：安定しないから
体調が悪くなければ一定の量のコードを常に書けます。でも AIは無料枠が小さいし変動することがあるので安定しません。  

「AIにお金を払えばいい」と思う人も多いでしょう。でも、私は学生です。  
お小遣いは貴重です。  
コーディングは数ある趣味の中の一つにすぎません。  

単一の趣味にそんなにお金はかけられません。他の趣味が疎かになるからです。  
それに、自分で考えれば無料です。  

### 2つ目の理由:楽しくないから
これは個人の感性です。  

私は、コードの記述が好きなので、AIに全部やってもらうと楽しくありません。  

### 3つ目の理由:自分で作ったものと比べて愛着がない
Vibe Codingを試してみての感想です。  

Vibe Codingで作ったものより自分でコードを書いたものの方が愛着があります。  
これは２つ目の理由と同じく感情論ですが、私はそう感じるのです。  

### 4つ目の理由:既存品の似たようなものしか作れない
全部「みたことあるな」となるのです。  
自分のやり方が悪いのか、既存品の平均値みたいなものしか出てきません。  

### 5つ目の理由:風潮
無視すればいいのですが、 AIを使うと怠けているみたいな意味不明な風潮がある。

## でも、AIは使っている
そもそも私の中でコーディングは趣味なんだから、楽しまなきゃなのです。  

自分が作りたくもないようなものを身内に頼まれたりとか、本当に早く作らなきゃいけないものは AIを使います。  
本当に簡単なWebアプリはGemini Canvasで作ります。  

それ以外はGithub CopilotとかCodexとか。  

UIのプロトタイピングもGemini Canvas。 AI臭いけど、プロトタイプだからいいのです。  

あとは、苦手なSQLとかを、Github Copilot FreeやCodex Freeで書いています。  

## Q/A
### お金あれば AI使う？
頻度は増えるかもでしょうがVibeCodingはしません

### 妬み？
いいえ。Vibe Codingが持ち上げられ過ぎているので自分の感想を書いたまでです。

### 思想強くない？
いいえ。でもそう感じたならごめん。

### AIの使い方が下手なんじゃないの？
勉強はしてるつもりなんですけどね。  
まあ AIの使い方勉強するくらいならコーディングの勉強をします。

### Vibe Coding以外には AI使ってる？
はい。日常的にAI自体は利用しています。  
yuri.red websiteの軽量化案も AIが提案してくれました。爆速になったのは AIのおかげでもあります。

### AIでコーディングしたものある？
完全に AIでコーディングしたものはありませんが、このブログは少しChatGPT (GPT-5.5)が書いています。  
agmz.netも一部はGeminiとChatGPTです。 

## 結論
AIでVibe Codingはしないけど AIはたくさん使いたいからFanbox支援してください
[そんなFanboxはこちら](https://agmz-ykmz.fanbox.cc/)

## 今日の曲
<Spotify trackId="10nyNJ6zNy2YVYLrcwLccB" />